<div class="text-center">
<p>Detalles del empleado</p>
<div >
    <div>
        <label><b>Numero de Pasaporte: </b>{{usuario.numeroPasaporte}} </label>
    </div>
</div>
<div>
    <div>
        <label><b>Nombre completo </b>{{usuario.nombreCliente}} </label>
    </div>
</div>
<div>
    <div>
        <label><b>Fecha </b>{{usuario.fechanacimiento}} </label>
    </div>
</div>
<div>
    <div>
        <label><b>Nacionalidad: </b>{{usuario.nacionalidad}} </label>
    </div>
</div>
<div>
    <div>
        <label><b>Correo: </b>{{usuario.correo}} </label>
    </div>
</div>
<div>
    <div>
        <label><b>Codigo de pais: </b>{{usuario.codigopais}} </label>
    </div>
</div>
<div>
    <div>
        <label><b>Numero de Telefono: </b>{{usuario.numerotelefoono}} </label>
    </div>
</div>
<div>
    <div>
        <label><b>Numero de Telefono de Emergencia: </b>{{usuario.numerotelefoonoem}} </label>
    </div>
</div>
<div>
    <div>
        <label><b>Direccion </b>{{usuario.direccion}} </label>
    </div>
</div>
<div>
    <div>
        <label><b>Contrsaña </b>{{usuario.contrasenia}} </label>
    </div>
</div>
</div>