body{
    background-image: url("src\assets\Fondo.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
mat-form-field.mat-form-field {
    font-size: 28px;
  }

  
  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 

   h1{
    font-family: 'Segoe UI Black', Courier, monospace;
    color:white;
    font-size: 60pt;
  }

   
   