<div class="text-center">
    <h1>DETALLE AEROLINEA</h1>
    <div >
        <div>
            <label><b>ID de la Aerolinea: </b>{{aerolinea.idaerolineas}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Nombre de la Aerolinea: </b>{{aerolinea.nombreaerolinea}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Correo: </b>{{aerolinea.correo}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Codigo de Pais: </b>{{aerolinea.codigopais}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Numero de telefono: </b>{{aerolinea.numerotelefono}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Estado: </b>{{aerolinea.idestado}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Fecha Creacion: </b>{{aerolinea.fechacreacion}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Fecha Modificacion: </b>{{aerolinea.fechamodicar}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Aeropuerto </b>{{aerolinea.idaeropuerto}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Vuelos:</b>{{aerolinea.vuelos}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Aviones:</b>{{aerolinea.aviones}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Usuario Creacion </b>{{aerolinea.idusuariocreacion}} </label>
        </div>
    </div>
    </div>