<div class="text-center">
    <h1>DETALLE AEROPUERTO</h1>
    <div >
        <div>
            <label><b>ID del Aeropuerto: </b>{{aeropuerto.idaeropuerto}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Nombre Del Aeropuerto: </b>{{aeropuerto.nombreaeropuerto}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>No. de puertas </b>{{aeropuerto.nopuertas}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Direccion: </b>{{aeropuerto.direccion}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Pais: </b>{{aeropuerto.pais}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Numero de telefono: </b>{{aeropuerto.notelefono}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Estado: </b>{{aeropuerto.idestado}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Fecha Creacion: </b>{{aeropuerto.fechacreacion}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Fecha Modificacion: </b>{{aeropuerto.fechamodicar}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Usuario Creacion </b>{{aeropuerto.idusuariocreacion}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Usuario Modifico </b>{{aeropuerto.usuarioModi}} </label>
        </div>
    </div>
    </div>