<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark  bg-light ">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="https://github.com/Juarezgump655" routerLinkActive="active" class="nav-link ms-auto"
                    style="color:white;">JUAREZGUMP655@</a>
            </li>
            <li class="nav-item">
                <a href="registrar-usuario" routerLinkActive="active" class="nav-link "
                    style="color:white;">REGISTRARSE</a>
            </li>
            <li class="nav-item">
                <a href="consultar-vuelos" routerLinkActive="active" class="nav-link ms-auto" style="color:white;">CONSULTAS</a>
            </li>
            <li class="nav-item ">
                <a href="iniciar-sesionTrabajadores" routerLinkActive="active" class="nav-link ms-auto"
                    style="color:white;">TRABAJAS AQUI?</a>
            </li>

        </ul>
    </nav>
    <br> <br>
    <br> <br>
    <br> <br>
    <br> <br>
    <div class="text-center">
        <h1>AEROPUERTO LOS PRIMOS</h1>
        <br> <br>
        <h2>Descubre Mas </h2>
        <br> <br>
        <button (click)="Login()" class="btn btn-primary" type="button">Iniciar Sesion</button>
    </div>

</body>

</html>