<div class="text-center">
    <h1>DETALLE USUARIO INTERNO</h1>
    <div >
        <div>
            <label><b>ID del Usuario: </b>{{usuarioInterno.idusuariointerno}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Documento de Identificacion: </b>{{usuarioInterno.documentoidentificaion}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Nombre</b>{{usuarioInterno.nombres}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Apellidos: </b>{{usuarioInterno.apellidos}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Fecha de nacimiento: </b>{{usuarioInterno.fechanacimiento}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Nacionalidad </b>{{usuarioInterno.nacionalidad}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Correo: </b>{{usuarioInterno.correo}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Codigo de Pais: </b>{{usuarioInterno.codigopais}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Numero de Telefono: </b>{{usuarioInterno.numerotelefoono}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Numero de Telefono de Emergencia: </b>{{usuarioInterno.numerotelefoonoem}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Direccion: </b>{{usuarioInterno.direccion}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Rol: </b>{{usuarioInterno.idroles}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Estado: </b>{{usuarioInterno.idaeropuerto}} </label>
        </div>
    </div>
    
    <div>
        <div>
            <label><b>Fecha Creacion: </b>{{usuarioInterno.fechacreacion}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Fecha Modificacion: </b>{{usuarioInterno.fechamodicar}} </label>
        </div>
    </div>
    <div>
        <div>
            <label><b>Usuario Creacion </b>{{usuarioInterno.usariocreacion}} </label>
        </div>
    </div>
    </div>