


<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar style="color: white;" class="example-toolbar">
        <button  mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h4 class="example-app-name">MENU</h4>

      </mat-toolbar>
   
     
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item style="color: white;" *ngFor="let nav of fillerNav" (click)="irMenus(nav.name)">
            <mat-icon>{{nav.icon}}</mat-icon>
             {{nav.name}}
          </a>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>

        <br> <br>
        <br> <br>
        <div class="text-center">
            <h1>Consultas Destino Autorizados</h1>
            <br> <br>
            <h2>AEROLINEAS</h2>
        </div>
        <br> <br>
        <div class="container">
            <label><u>Filtrar por:</u>  ID o por Nombre y Aeropuerto  </label>
        </div>
        
        <div class="container">
            <form [formGroup]="formulariobeta">
                <div class="row ">
                    <div class="col">
                        <mat-form-field  appearance="standard" style="width:100%">
                            <label for="numeroAerolinea">No. Aerolinea</label>
                            <input formControlName="numeroAerolinea" matInput type="number" max="50" requird
                                placeholder="Digite el codigo">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field  appearance="standard" style="width:100%">
                            <label for="Nombre">Nombre de la Aerolinea </label>
                            <input formControlName="Nombre" matInput type="text" maxlength="25" requird
                                placeholder="Digite un nombre">
                        </mat-form-field>
                    </div>
                    <div class="col">
                    <br> <br>
                    <mat-form-field appearance="fill">
                      <mat-label>Aeropuerto</mat-label>
                      <mat-select formControlName="Aeropuerto" >
                        <mat-option *ngFor= "let listaAeropuertos of listaAeropuertos" [value]="listaAeropuertos.idaeropuerto" >{{listaAeropuertos.nombreaeropuerto}}
                        </mat-option>
                      </mat-select >
                    </mat-form-field>
                </div>
                </div>
                <br> <br>
                <div class="text-center">
                    <button (click)="Prueba()" class="btn btn-success" class="Filtrar" > Filtrar </button>
                </div>
               
            </form>
        </div>
        
        <div class="centrar">
            <table class="table table-striped text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Aerolinea </th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let listaAerolineas of listaAerolineas" >
                        <th>{{listaAerolineas.idaerolineas}}</th>
                        <th>{{listaAerolineas.nombreaerolinea}}</th>
                        <th>{{listaAerolineas.correo}}</th>
                        <th><button (click)="seleccionar(listaAerolineas.idaerolineas)" class="btn btn-info"
                            >Selccionar </button></th>
                    
        
                    </tr>
                </tbody>
            </table>
        
        </div>
        

</mat-sidenav-content>
</mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>

